swagger: '2.0'
info:
  title: logistics-intel-api
  version: 1.0.0
host: logistics-intel-gateway-2e68g4k3.uc.gateway.dev
basePath: /
schemes:
  - https
paths:
  /crm/feature-flags:
    get:
      summary: Get feature flags
      operationId: crmFeatureFlags
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-187580267283.us-central1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    options:
      summary: CORS preflight
      operationId: corsCrmFeatureFlags
      responses:
        '204':
          description: No content
          headers:
            Access-Control-Allow-Origin:
              type: string
              default: "*"
            Access-Control-Allow-Methods:
              type: string
              default: "GET,OPTIONS"
            Access-Control-Allow-Headers:
              type: string
              default: "Content-Type,Authorization"
            Access-Control-Max-Age:
              type: string
              default: "3600"
  /public/dashboard/summary:
    get:
      summary: Get dashboard summary
      operationId: publicDashboardSummary
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-187580267283.us-central1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    options:
      summary: CORS preflight
      operationId: corsPublicDashboardSummary
      responses:
        '204':
          description: No content
          headers:
            Access-Control-Allow-Origin:
              type: string
              default: "*"
            Access-Control-Allow-Methods:
              type: string
              default: "GET,OPTIONS"
            Access-Control-Allow-Headers:
              type: string
              default: "Content-Type,Authorization"
            Access-Control-Max-Age:
              type: string
              default: "3600"

  /public/campaigns:
    get:
      parameters: []
      responses:
        '200':
          description: OK
      operationId: listCampaigns
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2
    options:
      parameters: []
      responses:
        '200':
          description: CORS preflight ok
        '204':
          description: CORS preflight ok
      operationId: campaignsOptions
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2
  /public/getCompanyShipments:
    get:
      parameters:
        - in: query
          name: company_id
          required: true
          type: string
        - default: 50
          in: query
          name: limit
          type: integer
        - default: 0
          in: query
          name: offset
          type: integer
      responses:
        '200':
          description: OK
      operationId: getCompanyShipments
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2
    options:
      parameters: []
      responses:
        '200':
          description: CORS preflight ok
        '204':
          description: CORS preflight ok
      operationId: getCompanyShipmentsOptions
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2
  /public/getFilterOptions:
    get:
      parameters: []
      responses:
        '200':
          description: OK
      operationId: getFilterOptions
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2
    options:
      parameters: []
      responses:
        '200':
          description: CORS preflight ok
        '204':
          description: CORS preflight ok
      operationId: getFilterOptionsOptions
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2
  /public/searchCompanies:
    options:
      parameters: []
      responses:
        '200':
          description: CORS preflight ok
        '204':
          description: CORS preflight ok
      operationId: searchCompaniesOptions
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2
    post:
      parameters: []
      responses:
        '200':
          description: OK
      operationId: searchCompanies
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2
  /public/iy/searchShippers:
    post:
      operationId: iySearchShippers
      consumes:
        - application/json
      x-google-backend:
        address: __SERVICE_URL__
        jwt_audience: __SERVICE_URL__
      responses:
        "200":
          description: OK
  /public/iy/companyBols:
    get:
      operationId: iyCompanyBols
      x-google-backend:
        address: __SERVICE_URL__
        jwt_audience: __SERVICE_URL__
      responses:
        "200":
          description: OK
  /public/status:
    get:
      parameters: []
      responses:
        '200':
          description: OK
      operationId: status
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2
    options:
      parameters: []
      responses:
        '200':
          description: CORS preflight ok
        '204':
          description: CORS preflight ok
      operationId: statusOptions
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2
  /search:
    options:
      parameters: []
      responses:
        '200':
          description: CORS preflight ok
        '204':
          description: CORS preflight ok
      operationId: searchOptions
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2
    post:
      parameters: []
      responses:
        '200':
          description: OK
      operationId: search
      x-google-backend:
        address: 'https://search-unified-187580267283.us-central1.run.app'
        jwt_audience: 'https://search-unified-187580267283.us-central1.run.app'
        path_translation: APPEND_PATH_TO_ADDRESS
        protocol: h2

