openapi: 3.0.0
info:
  title: logistics-intel-api
  version: 1.0.0
servers:
  - url: https://logistics-intel-gateway-2e68g4k3.uc.gateway.dev
paths:
  /public/healthz:
    get:
      operationId: healthz
      x-google-backend:
        address: https://crm-api-gxezx63yea-uc.a.run.app
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
      responses:
        '200':
          description: ok
  /public/status:
    get:
      operationId: status
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses: { '200': { description: OK } }
    options:
      operationId: statusOptions
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '204': { description: CORS preflight ok }
        '200': { description: CORS preflight ok }

  /public/dashboard/summary:
    get:
      summary: Get dashboard summary
      operationId: publicDashboardSummary
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    options:
      summary: CORS preflight
      operationId: corsPublicDashboardSummary
      responses:
        '204':
          description: No content
          headers:
            Access-Control-Allow-Origin:
              type: string
              default: "*"
            Access-Control-Allow-Methods:
              type: string
              default: "GET,OPTIONS"
            Access-Control-Allow-Headers:
              type: string
              default: "Content-Type,Authorization"
            Access-Control-Max-Age:
              type: string
              default: "3600"

  /public/getFilterOptions:
    get:
      operationId: getFilterOptions
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses: { '200': { description: OK } }
    options:
      operationId: getFilterOptionsOptions
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '204': { description: CORS preflight ok }
        '200': { description: CORS preflight ok }

  /search:
    post:
      operationId: search
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses: { '200': { description: OK } }
    options:
      operationId: searchOptions
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '204': { description: CORS preflight ok }
        '200': { description: CORS preflight ok }

  /public/searchCompanies:
    post:
      operationId: searchCompanies
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses: { '200': { description: OK } }
    options:
      operationId: searchCompaniesOptions
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '204': { description: CORS preflight ok }
        '200': { description: CORS preflight ok }

  /crm/feature-flags:
    get:
      summary: Get feature flags
      operationId: crmFeatureFlags
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: OK
    options:
      summary: CORS preflight
      operationId: corsCrmFeatureFlags
      responses:
        '204':
          description: No content
          headers:
            Access-Control-Allow-Origin:
              type: string
              default: "*"
            Access-Control-Allow-Methods:
              type: string
              default: "GET,OPTIONS"
            Access-Control-Allow-Headers:
              type: string
              default: "Content-Type,Authorization"
            Access-Control-Max-Age:
              type: string
              default: "3600"

  /public/getCompanyShipments:
    get:
      operationId: getCompanyShipments
      parameters:
        - in: query
          name: company_id
          schema: { type: string }
          required: true
        - in: query
          name: limit
          schema: { type: integer, default: 50 }
        - in: query
          name: offset
          schema: { type: integer, default: 0 }
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses: { '200': { description: OK } }
    options:
      operationId: getCompanyShipmentsOptions
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '204': { description: CORS preflight ok }
        '200': { description: CORS preflight ok }

  /public/contacts:
    get:
      operationId: contacts
      x-google-backend:
        address: https://crm-api-gxezx63yea-uc.a.run.app
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
      parameters:
        - name: q
          in: query
          type: string
          required: false
          description: Company name search
        - name: company_id
          in: query
          type: string
          required: false
        - name: limit
          in: query
          type: integer
          format: int32
          required: false
          default: 25
        - name: offset
          in: query
          type: integer
          format: int32
          required: false
          default: 0
      responses:
        '200':
          description: Contacts list

  /public/campaigns:
    get:
      operationId: listCampaigns
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses: { '200': { description: OK } }
    options:
      operationId: campaignsOptions
      x-google-backend:
        address: https://search-unified-187580267283.us-central1.run.app
        protocol: h2
        jwt_audience: https://search-unified-gxezx63yea-uc.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '204': { description: CORS preflight ok }
        '200': { description: CORS preflight ok }